@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #0A0A0A;
}

header {
    top: 0;
    left: 0;
    height: 100px;
    padding-top: 24px;
    padding-left: 60px ;
    padding-right: 60px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header p {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    color:#C7C7C7;
    font-size: 2rem;



}
header a{
    text-decoration: none;
    color: #C7C7C7;

}

header ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-family: "Inter", serif;
    font-size: 16px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 200px;
    height: 25px;
    font-size: 16px;


}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
}

.header-text {
    max-width: 50%;
}

.image-me {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-me img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    width: 500px;
}


.header-text {
    max-width: 50%;
}





.header-text{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #FFFFFF;

}
.header-text p{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color:#C7C7C7;
}
.action {
    margin-top: 40px;
    display: flex;           
    align-items: center;      
    gap: 20px;               
    flex-wrap: wrap;          
}

.action a {
    display: flex;            
    align-items: center;
}

.action img {
    width: 60px;             
    transition: transform ease-in-out 0.3s;
}

.action button {
    background-color: #D3E97A;
    padding: 0 32px;          
    height: 55px;
    border: none;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.action  a{
    text-decoration: none;
}
.action img{
    transition: transform ease-in-out 0.3s ;
}
.action img:hover{
    transform: scale(0.9);
}
.action button:hover{
    background-color: rgba(211, 233, 122, 0);
    color: white;
}
.projects-featured{
    width: 600px;
    height: 138px;
    margin-left: 50px;
    margin-bottom: 80px;
}

.projects-featured h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    font-size: 70px;
}
.projects-featured p{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color:#C7C7C7;
}
.projects {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 100px;             
    margin-top: 80px;
    padding: 0 50px;       
}

.card {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;      
}

.project-content {
    flex: 1;               
    margin-top: 0;         
    margin-left: 48px;
    max-width: 600px;   
}
.project-content h2 {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
    color: #FFFFFF;
}
.project-content p{
    color: #C7C7C7;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.project-content table{
    color: #FFFFFF;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    width: 576px;

}
table {
    width: 100%;
}
.card img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.project-content table, 
table hr,
.right input,
.right textarea {
    width: 100% !important;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 1024px) {
    .card img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card img {
        width: 100%;
        height: auto;
        max-width: 500px;
    }

    .project-content {
        margin-left: 0;
        margin-top: 30px;
        padding: 0 20px;
    }

    .project-content table {
        width: 100%;
    }

    .projects-featured {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}
table td {
    display: inline-block;
    padding-right: 20px;
}

table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

table hr {
    width:576px ;
    border: none;
    border-top: 1px solid #C7C7C7;
    margin: 10px 0;
}
.links-projects a {
    color:#D3E97A;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    padding-top: 6px;
    display: flex;

}

.about-me{
    /*width: 1200px;*/
    height: 400px;
    height: 400px;
    margin-left: 108px;
    margin-top: 122px;
    margin-bottom: 391px;
    display: flex;
    justify-content: center;
    gap: 25px;

}
.about-me h1{
    font-family: "Bebas Neue", serif;
    font-weight: 200;
    font-style: normal;
    color: #FFFFFF;
    font-size: 70px;
}
.inforamtion-me h2{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 32px;
    color: #FFFFFF;
}
.inforamtion-me p{
    color: #C7C7C7;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 53px;

}
.inforamtion-me a{
    color: #D3E97A;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
}
footer{
    /*width: 1200px;*/
    height: 770px;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin : 0 auto ;
}
.left{
    height: 611px;
    float: left;
    margin-bottom: 80px;
}
.left h1{
    font-family: "Bebas Neue", serif;
    font-weight: 200;
    font-style: normal;
    color: #FFFFFF;
    font-size: 70px;
}
.left p{
    color: #C7C7C7;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-top: 16px;
}
.left span {
    border-bottom: 1px solid #D3E97A;

}
.left a {
    text-decoration: none;
    color:#C7C7C7;
}
.social-media{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.end{
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
}
.right{
    float: right;
    margin-bottom: 80px;
}
.right label{
    color: #C7C7C7;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}
.right input{
    background-color: #1A1A1A;
    width: 600px;
    height: 50px;
    outline: none;
    border: none;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 10px;
    border-radius: 7px;
    margin-bottom: 24px;

}
.right textarea{
    background-color: #1A1A1A;
    width: 600px;
    height: 156px;
    outline: none;
    border: none;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
    resize: none;
    margin-top: 10px;
    border-radius: 7px;
    margin-bottom: 24px;

}
.right button{
    background-color: #D3E97A;
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 30px;
    transition: background-color ease-in-out 0.3s , color ease-in-out 0.3s;

}
.right button:hover{
    background-color: rgba(211, 233, 122, 0);
    color: white;
}
@media (max-width: 768px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-text {
        max-width: 100%;
    }

    .image-me {
        justify-content: center;
    }

    .image-me img {
        width: 80%;
    }
}


@media (min-width: 1200px) {
    .hero-content {
        padding: 100px;
        gap: 50px;
    }

    .header-text {
        font-size: 90px;
    }

    .image-me img {
        width: 50%;
    }

    .header-text p {
        font-size: 24px;
    }

    .action button {
        width: 220px;
        height: 70px;
    }



    header ul {
        font-size: 18px;
    }
}
@keyframes tracking-in-expand {
    /*0% {*/
    /*    letter-spacing: -0.5em;*/
    /*    opacity: 0;*/
    /*}*/
    /*40% {*/
    /*    opacity: 0.6;*/
    /*}*/
    /*100% {*/
    /*    opacity: 1;*/
    /*}*/
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.animate {
    animation: tracking-in-expand 1s ease-in-out forwards;
}